@import "~web/client/scss/mixins";

.wrapper {
  @include main;
}

.top {
  display: flex;
  align-items: flex-end;

  a {
    margin: 0 0 17px 20px;
    font-size: 1.2em;
  }
}

.pageHeading {
  @include pageHeading;
}

.tripSection {
  margin: 0 0 20px;
}

.listControls {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  align-items: center;
}

.main {
  @include sideBarWrapper;
}

.tripsTop {
  display: flex;
  align-items: center;
}
