@import "~web/client/scss/mixins";

.main {
  @include main;
  padding: #{$largeGutter}px 0 0;

  @include media($laptopWidth, 0) {
    display: flex;
  }
}

.columnHeading {
  margin: 0 0 -10px;
}

%column {
  @include whiteBox;
  min-height: 300px;
  margin: #{$largeGutter}px;

  @include media($laptopWidth, 0) {
    width: 50%;
  }
}

.trips {
  @extend %column;

  @include media($laptopWidth, 0) {
    margin: 0 #{$largeGutter / 2}px 0 #{$largeGutter}px;
  }

  @include media($maxWidth, 0) {
    margin: 0 #{$largeGutter / 2}px 0 0;
  }
}

.tripItem {
  margin: 0 0 15px;
}

.tracks {
  @extend %column;

  @include media($laptopWidth, 0) {
    margin: 0 #{$largeGutter}px 0 #{$largeGutter / 2}px;
  }

  @include media($maxWidth, 0) {
    margin: 0 0 0 #{$largeGutter / 2}px;
  }
}

.listItem {
  margin: 0 0 20px;
}
