@import "~web/client/scss/mixins";

.wrapper {
  @include main;
}

.name {
  @include pageHeading;
}

.main {
  @include sideBarWrapper;
}

.posts {
  @include whiteBox;
  width: 70%;
}

.postsTop {
  display: flex;
  align-items: center;
}

.listControls {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  align-items: center;
}
