@import "~web/client/scss/mixins";

.wrapper {
  @include main;
}

.name {
  @include pageHeading;
}

.main {
  @include sideBarWrapper;
}

.stats {
  list-style: none;
  margin: 20px 0;

  li {
    margin: 10px 0;
    font-size: 1.6rem;
    display: flex;
    align-items: center;

    span {
      line-height: 1em;
    }
  }

  i {
    display: inline-block;
    margin-right: 10px;
  }
}

.profilePic {
  @include aspectRatio(1,1);
  width: 100%;
  border-radius: 50%;
  margin: 20px 0 50px;
}

.posts {
  @include whiteBox;
  width: 70%;
}

.postsTop {
  display: flex;
  align-items: center;
}

.listControls {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  align-items: center;
}
