@import "~web/client/scss/mixins";

.main {
  display: flex;
  margin: 10px 0;
}

.image {
  @include aspectRatio(1, 1);
  width: 50%;
  flex-shrink: 0;
  flex-grow: 0;
  margin: 0 15px 0 0;
  background: no-repeat center;
  background-size: cover;

  @include media($phabletWidth, 0) {
    width: 30%;
  }

  @include media($laptopWidth, 0) {
    width: 50%;
  }
}

.date {
  @include postDate;
}

.author {
  display: block;
  margin: 10px 0;
}
