@import "~web/client/scss/mixins";

.wrapper {
  @include main;
}

.pageHeading {
  @include pageHeading;
}

.main {
  @include rightSideBarWrapper;
}

.guidelines {
  display: flex;
  flex-wrap: wrap;

  >div {
    width: 30%;
    font-weight: bold;
  }

  >ul {
    width: 70%;
  }
}

.loading {
  display: inline-block;
  margin-left: 15px;
}
