@import "~web/client/scss/mixins";

.wrapper {
  width: 100%;
  background: linear-gradient(to right, $white, $white 40%, $black 50%);
  border-bottom: 1px solid $lightGrey;
}

.container {
  @include main;
  display: flex;
}

.logo {
  flex-grow: 0;
  flex-shrink: 0;
  height: 70px;
}

.main {
  background: $black;
  color: $white;
  flex-grow: 1;
  display: flex;
  position: relative;
}

.title {
  font-size: 5rem;
  margin: 5px 0 0 -10px;
  font-family: "Tahoma", "Geneva", sans-serif;
}

.nav {
  opacity: 0;
  list-style: none;
  position: absolute;
  top: 70px;
  right: 0;
  display: flex;
  flex-direction: column;
  background: $black;
  margin: 0;
  padding: 0;

  .showMenu & {
    opacity: 1;
  }

  @include media($tabletWidth, 0) {
    opacity: 1;
    flex-direction: row;
    position: relative;
    top: 0;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 1;
  }

  li {
    margin: 15px 25px;

    @include media($tabletWidth, 0) {
      margin: 0 20px;
    }
  }

  a {
    color: $whiteSmoke;
    text-decoration: none;
    cursor: pointer;
    font-size: 1.8rem;

    &:hover {
      color: $dimGrey;
    }
  }
}

.hamburger {
  position: absolute;
  top: 15px;
  right: 10px;
  font-size: 40px;
  cursor: pointer;

  @include media($tabletWidth, 0) {
    opacity: 0;
  }
}
