/* colors */
$white: #fff;
$whiteSmoke: #edeff2;
$lightGrey: #d4d4d4;
$darkGrey: #aaa;
$dimGrey: #5d5d5d;
$black: #000;

/* widths */
$phabletWidth: 550px;
$tabletWidth: 768px;
$laptopWidth: 1024px;
$desktopWidth: 1280px;
$maxWidth: 1200px;

$largeGutter: 20;
